:root {
  --copper-rust: #894554;
--apple-blossom: #af3c46;
--tamarind: #240f20;
--victoria: #54427b;
--buccaneer: #652a39;
--valhalla: #30184d;
--butterfly-bush: #5c4a9c;
--dusty-gray: #999797;
--scorpion: #5f5859;
--bg-grad: 0deg, var(--dusty-gray), var(--scorpion), var(--tamarind), var(--scorpion), var(--dusty-gray);
}

:root {
  --amethyst: #995cd0;
  --worm: #8edf5f;
  --mandarin: #ec7744;
  --plump-purp: #5549b7;
  --dark-purp: #201d30;
  --bg-grad3: 0deg, var(--dark-purp), var(--plump-purp), var(--plump-purp), var(--dark-purp);
}

:root {
  --light-green: #c7fba5;
  --green: #adf182;
  --light-purp: #916cad;
  --purp: #523874;
  --orange: #dc7d68;
  --bg-grad2: 0deg, var(--light-purp), var(--purp), var(--light-purp);
}

h1 {
  font-size: 50px;
  text-decoration: none;
}

h2, h3 {
  background:linear-gradient(to right, #9a5cd0b9, #916cad00);
}

a {
  text-decoration: none;
}


header, .project:not(:last-child) {
  border-bottom: 5px solid var(--mandarin);
  margin-top: 10px;
}

body {
  display: flex;
  background: linear-gradient(var(--bg-grad3));
  background-size: 100vw 150vh;
  position: relative;
  margin: 20px 20px 20px 20px;
  margin-top: 30px;
}

textarea {
  max-width: 1500px;
  min-width: 100px;
  width: 600px;
  height: 200px;
  background:linear-gradient(to right, #000000b9, #34343400);
  color: white;
}

.worm-green {
  color: var(--worm);
}

.g-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--worm);
  text-decoration: none;
  font-size: 100%;
}

.g-button:hover {
  color: var(--mandarin);
  font-size: larger;
  text-decoration: none;
}

.post {
  max-width: 400px;
  margin-top: 40px;
  background-color: var(--amethyst);
  padding: 3px;
}

.submit-button {
  background-color:#bc8ce1;
  cursor: pointer;
}

.comment-list {
  display: flex;
  flex-direction: column;
  border: #ec764455;
  border-style:solid
}

.card {
  background-color: #916cad;
}

.comment-text {
  font-size: larger;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-size: larger;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.top-row {
  display: flex;
}

.profile-link:hover {
  color:#c9c4c4d6;
}

.links {
  display: flex;
}

.link-card {
  height: 30px;
  width: 30px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  margin-left: 20px;
  color: #ffffff00;
}

.link-card:hover {
  opacity: 1;

}

.github {
  background-image: url(https://raw.githubusercontent.com/J3rkStore/reactoringo/3360e1134a8c29a693d023ee4c3922dee63742b9/assets/github-logo/github-mark-white.svg);

}

.linkedin {
  background-image: url(https://github.com/J3rkStore/reactoringo/blob/main/assets/linkedin-logo/LI-In-Bug.png?raw=true);
}